{
"ldap": {
	"host": "myldap.host.co.uk",
	"port": "389",
	"binduser": "cn=Service Account",
	"bindpass": "you might not need it"
	},
"cris": {
        "url": "http://abcd",
	"port": "8090"
        },
"jobs": {
	"url": ""
	},
"datadownload" : {
	"url": "http://data.sgul.ac.uk/output/"
	}
}
