{
"ldap": {
	"ldaphost": "myldap.host.co.uk",
	"ldapport": "389",
	"binduser": "cn=Service Account",
	"bindpass": "you might not need it"
	},
"cris": {
        "crisurl": "http://abcd",
	"crisport": "8090"
        }
}
